html {
    font-size: 10px;
}
body {
  font-family: Arial, sans-serif, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.App {
  margin: 0;
  padding: 0;
}
/* header */
.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;
  height: 6rem;
  background-color: #fff;
  box-shadow: inset 0 -1.5rem 1rem -1rem rgba(0, 77, 154, 0.1);
  z-index: 1000;
}
.menu-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 6rem;  
  font-size: 3rem;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}
.menu-mobile.open {
  position: fixed;
  color: #fff;
}
.menu-edit {
  display: flex;
  flex-direction: row-reverse;
  height: 4.5rem;
  padding: 0.75rem;
}
.menu-edit button {
  border: 0;
  background-color: rgba(0,0,0,0);
}
.menu-container {
  display: block;
  position: fixed;
  height: 100vh;
  width: 25rem;
  top: 0;
  left: -25rem;
  background-color: #111;
  transition: 0.5s;
  z-index: 1000;
}
.menu-container.open {
  display: block;
  left: 0;
}
.menu-item {
  padding: 1rem 1.5rem;
  font-size: 2.4rem;
  color: #fff;
  text-transform: capitalize;
}
.menu-container .items-container > div {
  height: 4rem;
}
.menu-container .items-container > div a {
  display: block;
  padding-left: 1.5rem;
}
.menu-item[aria-disabled="true"] {
  cursor: pointer;
}
.menu-item[aria-disabled="false"] {
  cursor: grab;
}
/* body */
.main-container {
  display: flex;
  flex-flow: row nowrap;
  max-width: 120rem;
  height: 100%;
  min-height: calc(100vh - 15rem);
  margin: 6rem auto 0;
  padding: 1.5rem 0.75rem;
}
.main-container section {
  flex: 0 1 100%;
  text-align: center;
}
/* footer */
.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  flex: 0 1 100%;
  height: 6rem;
  font-size: 1.8rem;
  font-weight: 700;
  box-shadow: inset 0 1.5rem 1rem -1rem rgba(0, 77, 154, 0.1);
}

@media screen and (min-width: 768px) {
  .app-header {
    flex-flow: row;
    justify-content: center;
  }
  .menu-mobile {
    display: none;
  }
  .menu-container, .menu-container.open {
    position: relative;
    left: 0;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    flex: 0 1 100%;
    height: 6rem;
    background-color: rgba(0,0,0,0);
  }
  .menu-edit {
    position: absolute;
    right: 0;
  }

  .menu-container .items-container .menu-item {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 6rem;
    margin: 0 1.5rem;
    padding: 0 0 0 1.5rem;
    color: #000;
  }
  .menu-container div:first-child .menu-item {
    margin-top: 0rem;
  }
  .menu-container .items-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  .menu-container .items-container > div {
    height: 6rem;
  }
  .main-container {
    padding: 1.5rem;
  }
}